---
import '@fontsource-variable/inter'
import Compatibility from '~/components/compatibility.astro'
import Contact from '~/components/contact.astro'
import Features from '~/components/features.astro'
import Footer from '~/components/footer.astro'
import Header from '~/components/header.astro'
import Intro from '~/components/intro.astro'
import Showcase from '~/components/showcase.astro'
import Splash from '~/components/splash.astro'
import '~/styles/index.css'

const { generator, site } = Astro
const image = new URL('social.jpg', site)
const description =
  'Somos un taller especializado y certificado por Eurovent para el diseño, fabricación de ventanas de aluminio y cristal templado. Amplia Gama de Productos: Ofrecemos una extensa variedad de productos adaptados a sus necesidades específicas. Compromiso con la Calidad : Estamos comprometidos con la mejora continua y el cumplimiento de los más altos estándares de calidad en cada proyecto'

const images = [
  '1.jpg',
  '2.jpg',
  '3.jpg',
  '4.jpg',
  '5.jpg',
  '6.jpg',
  '7.jpg',
  '8.jpg',
  '9.jpg'
]
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={generator} />

    <title>INDALMOR | Cancelería Eurovent y Vidrio Templado</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = 'light'

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved
      } else {
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        document.documentElement.dataset.theme = prefersDark ? 'dark' : 'light'
      }

      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', event => {
          if (!localStorage.getItem('theme')) {
            document.documentElement.dataset.theme = event.matches
              ? 'dark'
              : 'light'
          }
        })
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fromIndex={true} />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Features />
      <Compatibility />
      <Showcase />
      <div class="mx-auto max-w-5xl">
        <h2
          class="text-center font-extrabold tracking-tight text-primary text-6xl"
        >
          Conoce cómo trabajamos
        </h2>

        <div class="mt-16 grid grid-cols-2 gap-4 md:grid-cols-3">
          {
            images.map(image => (
              <div>
                <img
                  class="h-auto max-w-full rounded-lg"
                  src={image}
                  alt="show-case-image"
                />
              </div>
            ))
          }
        </div>
      </div>
      <Contact />
    </div>
    <Footer />
    <div class="size-16 rounded-full border-2 border-current p-3" style="position: fixed; z-index: 10000; bottom: 25px; right: 25px; background-color: #25d366; color: #fff;">
      <a href="https://wa.me/527777154762?text=Me%20gustar%C3%ADa%20recibir%20informes%20acerca%20de%20los%20productos%20y%20servicios%20de%20INDALMOR" target="_blank"><Icon name={'mdi:whatsapp'} class="size-full" /></a>
    </div>
  </body>
</html>
