---
import '@fontsource-variable/inter'
import Footer from '~/components/footer.astro'
import Header from '~/components/header.astro'
import ProductItem from '~/components/product-item.astro'
import '~/styles/index.css'

const { generator, site } = Astro
const image = new URL('social.jpg', site)

const productList = [
  {
    name: 'Cortinas Anticiclónica',
    subTitle: 'Sistema plegable de duelas de protección anticiclónico',
    description: `Ofrece 3 opciones de anclaje: a pared, piso a techo y sobre pared y opción de nivelación para pisos irregulares. Opción de cierre interno y externo en posición central o lateral.
Altura máxima de 2840 mm
Resiste huracanes categoría 5 de hasta más de 250 km/h
Producto certificado por el Condado de Miami Dade`,
    image: '../producto-1.png',
    techincalImage: '../tech-producto-1.png',
    stats: [
      { label: 'Aluminio', value: '6063 T6' },
      { label: 'Norma', value: 'ASTM B221' },
      { label: 'Pruebas de tensión', value: 'Norma: ASTM B557-06' },
      {
        label: 'Pruebas de tensión de Materiales Metálicos',
        value: 'Norma: ASTM E-8'
      }
    ]
  }
]

const description =
  'Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.'
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Astro Landing Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = 'light'

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved
      } else {
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        document.documentElement.dataset.theme = prefersDark ? 'dark' : 'light'
      }

      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', event => {
          if (!localStorage.getItem('theme')) {
            document.documentElement.dataset.theme = event.matches
              ? 'dark'
              : 'light'
          }
        })
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fromIndex={false} />
    <!-- <Splash /> -->
    <div class="space-y-24 px-8 py-32">
      {
        productList.map(product => (
          <ProductItem
            name={product.name}
            subTitle={product.subTitle}
            description={product.description}
            image={product.image}
            stats={product.stats}
            techincalImage={product.techincalImage}
          />
        ))
      }
    </div>
    <Footer />
  </body>
</html>
